h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* skills images */
.img-skill {
   max-width: 30%;
   margin: 10px 0 0 10px;
}


.card.card-work{
    display: flex;
    flex-direction: row;
}
