h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container-fluid{
    margin: 20px 0 10% 10%;
}



/* navbar */

.navbar.customNavBar {
    position: fixed;
    width: 100%;
    max-height: 10%;
    padding-bottom: 0;
}

.navbar-nav{
margin-top: 10%;

}

/*welcome*/

h1#welcome{
    font-size: 2rem;
}

.welcome{
    font-size: 1rem;
}

/* skills images */
.img-skill {
   max-width: 30%;
   margin: 10px 0 0 10px;
}

.img-work {
    max-width: 700px;
    max-height: 300px;

}


.card.card-work{
    display: flex;
    flex-direction: row;
}

